<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>环境检测-{$Think.config.cms_name}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel='stylesheet' type='text/css' href='__PUBLIC__/Admin/css/admin_style.css'> 
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<style>td{ height:22px; line-height:22px}</style>
</head>
<body>

<p>请在页面上方选择功能。</p>

<script>var version='{$Think.config.web_var}';</script>
<include file="Index:footer" />
</body>
</html>