<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>管理登录-{$Think.config.cms_name}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  
  <link rel='stylesheet' type='text/css' href='__PUBLIC__/Admin/css/admin_login.css'>
  <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
  

  <!--
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  -->


  <script>
  function loginok(form){
    if (form.login_name.value==""){
      alert("用户名不能为空！");
      form.login_name.focus();
      return (false);
    }
    if (form.login_pwd.value==""){
      alert("密码不能为空！");
      form.login_pwd.focus();
      return (false);
    }
    if (form.verify.value==""){
      alert("验证码不能为空！");
      form.verify.focus();
      return (false);
    }
    return (true);
  }

  if(self!=top){
    top.location=self.location;
  }
  </script>
</head>

<body>
  <div class="main">
    <div class="title"></div>    
    <div class="login">
      <form action="{:U('Admin/Login/checkLogin')}" method="post" name="cms" onSubmit="return loginok(this)">
        <div class="inputbox">
          <dl>

          <dd>
            <label class="input_cue">{$Think.lang.lan_username}：</label>
            <input class="input_common" type="text" name="username" id="login_name" size="15" onfocus="this.style.borderColor='#fc9938'" onblur="this.style.borderColor='#dcdcdc'" />

          </dd>

          <dd>
            <label class="input_cue">{$Think.lang.lan_password}：</label>
            <input class="input_common" type="password" name="password" id="login_pwd" size="15" onfocus="this.style.borderColor='#fc9938'" onblur="this.style.borderColor='#dcdcdc'" />
          </dd>

          <dd>
            <label class="input_cue">{$Think.lang.lan_verify}：</label>
            <input class="input_verify" type="text" name="verify" id="verify" size="3" onfocus="this.style.borderColor='#fc9938'" onblur="this.style.borderColor='#dcdcdc'" />

            <img id="verifyImg" SRC="{:U('Admin/Public/verify')}" onclick='this.src=this.src+"&"+Math.random()' BORDER="0" ALT="点击刷新验证码" style="cursor:pointer" align="absmiddle">
          </dd>
          
          <dd>
            <input name="submit" type="submit" value="" class="submit_btn" />
          </dd>

          </dl>
        </div>
        <div class="btnbox">
          <dl>
            <dd>{$Think.config.web_name}是一个采用PHP和MySQL数据库构建的高效的管理系统</dd>
            <dd></dd>
            <dd><a href="http://se.yiiqoo.com/Audit" >审计网站入口</a></dd>
          </dl>
        </div>
        <div style="clear:both"></div>
      </form>
    </div>
  </div>
  <div class="copyright"> 
    Powered by <a href="{$Think.config.cms_url}" target="_blank">{$Think.config.web_name}&nbsp;{$Think.config.web_var}</a>&nbsp;Copyright&nbsp;&copy;2011-2012 
  </div>
  
  <!--
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  -->
</body>

</html>